@import '@fontsource/roboto/400.css'; /* Weight 400 */
@import '@fontsource/roboto/700.css'; /* Weight 700 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
:host {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
