.statsTable {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1.5rem;
}

.imageContainer {
  float: right;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  max-width: 20rem;
}

.figure {
  margin: 0;
}

.image {
  max-width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: contain;
}

.comments {
  white-space: pre-wrap;
}
