*.dmp
__pycache__
phylogeny_env
dist/
.astro/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.DS_Store
hubJson
processedHubJson
src/recentlyUpdated.json
src/syntenyAccessions.json
